{% extends 'base.html' %}

{% block content %}
<div class="card mt-5">
    <div class="card-header">
        <h3>{{ order.user.first_name }}'s Order - #{{ order.id }}</h3>
    </div>
    <div class="card-body">
        <h5 class="card-title">Order Details</h5>
        <p><strong>Order ID:</strong> {{ order.id }}</p>
        <p><strong>Status:</strong> {{ order.get_status_display }}</p>
        <p><strong>Created At:</strong> {{ order.created_at }}</p>
        <p><strong>Updated At:</strong> {{ order.updated_at }}</p>
        <hr>
        <h5>Products</h5>
        {% include "order_items_list.html" %}
        <hr>
        <h5>Delivery Details</h5>
        {% if order.delivery %}
            <p><strong>Courier:</strong> {{ order.delivery.courier.name }}</p>
            <p><strong>Status:</strong> {{ order.delivery.order_status }}</p>
        {% else %}
            <p>Delivery details not available.</p>
        {% endif %}
    </div>
    <div class="card-footer text-end">
        <div class="d-flex justify-content-start">
            <a href="{% url 'dashboard' %}" class="btn btn-secondary">Back to Orders</a>
            <form method="POST" action="{% url 'delete_order' order.id %}" class="ms-2">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger">Delete Order</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
