<div class="mx-left" style="max-width: 60%;">
    <ul class="list-group mt-4">
        {% if orders %}
            {% for order in orders %}
                <li class="list-group-item">
                    <a href="{% url 'order_details' order.pk %}" class="text-primary text-decoration-none fw-bold">Order Number #{{ order.pk }}</a>
                    <ul class="list-group mt-2">
                        {% for order_item in order.orderitem_set.all %}
                            {% include "order_items_list.html" %}
                        {% endfor %}
                    </ul>
                </li>
            {% endfor %}
        {% else %}
            <li class="list-group-item">No orders found.</li>
        {% endif %}
    </ul>
</div>
